body {
    text-align:center;
    font-family:Arial, sans-serif;
    background-color:#d38a8a;
}
h1{
    margin-top:20px;
    text-align:center;
}
.btn-container{
    margin-top: 50px;
}
.line-one,
.line-two {
    display: flex;
    justify-content: center;
}
.btn-red,
.btn-yellow,
.btn-green,
.btn-purple {
    height: 150px;
    width: 150px;
    border-radius:20%;
    margin: 20px;
    cursor: pointer;
    border: 5px solid black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Individual Colors */
.btn-red {
    background-color: red;
}
.btn-yellow{
    background-color: yellow;
}
.btn-green {
    background-color: green;
}
.btn-purple {
    background-color: purple;
}
/* Button click effect */
.btn-red:active,
.btn-yellow:active,
.btn-green:active,
.btn-purple:active {
opacity: 0.3;
}
.flash{
    background :white;
}